---
layout: default
---

<style type="text/css">
/*<![CDATA[*/

  <!--

  li                   {list-style-type: none}

  body                 {margin-left: 10%; margin-right: 10%;}

  p                    {font-size: 1.0em; text-align: justify;
                        margin-top: 0.75em; margin-bottom: 0.75em;}

  blockquote           {font-size: 0.9em;}

  h1,h2,h3,h4,h5,h6    {text-align: center;}
  h2.title             {margin-top: 1em;}
  h2                   {margin-top: 4em;}

  hr.full              {width: 100%; margin-bottom: 4em;
                       margin-top: 3em}
  hr                   {width: 50%;}
  hr.short             {width: 20%;}

  table, td, th        {border:1px black solid; }
  td                   {padding: 0px 2px;}

  .rt                  {text-align: right; margin-right: 0;
                        margin-top: 0; margin-bottom: 0;}

  .footnote            {font-size: 0.9em; margin-right: 10%;
                        margin-left: 10%; margin-bottom: 1em;}
  .footnote p          {text-align: justify;}

  .figcenter           {text-align: center; border: 0}
  .figcenter img       {border: 0}
  .figcenter p         {text-align: center; border: 0;}

  .figright            {text-align: center; float: right; clear: both;}
  .figleft             {text-align: center; float: left; clear: both;}
  .figright img,
  .figleft img         {margin: 10px; width: 200px; border: 0;}
  .figright p,
  .figleft p           {text-align: center; width: 200px; border: 0;
                         padding: 0; margin: 0;}

   .figrt              {text-align: center; margin: 5px; float: right;}
   .figrt img          {width: 50px; border: 0;}
   .figrt p            {text-align: center; width: 100px;}

  .poem                {margin-left:5%; margin-right:5%;
                        margin-bottom: 1em; text-align: left;}
  .poem .stanza        {margin: 1em 0em 1em 0em;}
  .poem p              {margin: 0;}
  .poem p.i2           {margin-left: 2em;}
  .poem p.i4           {margin-left: 4em;}
  .poem p.i6           {margin-left: 6em;}
  .poem p.i8           {margin-left: 8em;}
  .poem p.i10          {margin-left: 10em;}
  .poem p.i12          {margin-left: 12em;}
  .poem p.i14          {margin-left: 14em;}
  .poem p.i16          {margin-left: 16em;}

  .play                {text-align: left; margin-bottom: 1em;}
  .play .stanza        {margin: 1em 0em 1em 0em;}
  .play p              {margin: 0;}
  .play p.i2           {margin-left: 2em;}
  .play p.i4           {margin-left: 4em;}
  .play p.i6           {margin-left: 6em;}
  .play p.i8           {margin-left: 8em;}
  .play p.i10          {margin-left: 10em;}
  .play p.i12          {margin-left: 12em;}
  .play p.i14          {margin-left: 14em;}
  .play p.i16          {margin-left: 16em;}

  .ctr                 {text-align: center; margin-bottom: 1em;}

   .side               {float:right;
                       font-size: 75%;
                       width: 25%;
                       padding-left:10px;
                       border-left: dashed thin;
                       margin-left: 10px;
                       text-align: left;
                       text-indent: 0;
                       font-weight: bold;
                       font-style: italic;
                       clear: right;}

  span.pagenum
  {position: absolute; left: 1%; right: 91%; font-size: 8pt;}

	a:link {color:blue;
			text-decoration:none}
	link {color:blue;
			text-decoration:none}
	a:visited {color:blue;
			text-decoration:none}
	a:hover {color:red}
	pre.pg	{font-size: 8pt;}

  sup                 {font-size:0.6em;}

  pre                 {font-size: 10pt;}

  -->

/*]]>*/
</style>

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>
